body {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto Condensed', sans-serif;
}
header {
	position: fixed;
	right:2px;
}
header a {
	text-decoration: inherit;
	font-size: 12px;
	float:right;
	padding-top: 5px;
	padding-right: 50px;
}
header a:link {color: black;}      /* unvisited link */
header a:visited {color: black;}   /* visited link */
header a:hover {color: black;}     /* mouse over link */
header a:active {color: black;}    /* selected link */
nav {
	background: #EAEAEA;
	text-transform: uppercase;
	font-size:16px;
	text-align: center;
	max-width: 1000px;
	height: 30px;
	margin: 0 auto;
	margin-bottom: 10px;
	border-radius: 4px;
	line-height: 30px;
}
footer {
	background-color: #333;
	color: #fff;
	width: 100%;
	bottom: 2;
	position: fixed;
	text-align: center;
	font-size: 14px;
}
h1 {
	margin: 0 auto; 
	padding-top: 20;
	padding-bottom: 10;
	text-align: center;
}
h2 {
	text-align: center;
	margin: 0;
	padding-bottom: 10px;
	font-size: 16px;
}
nav a {margin: 5 5; text-decoration: none; color: blue; margin-right: 10px;}
nav a:hover {font-weight: bold;}
section {max-width: 1000px; weight: auto; margin: 0 auto;}
section table {width: 100%; border-collapse: collapse; text-align: left; font-size: 15px;}
section td {border-bottom: 1px solid #ddd}
section td a {display: block;   text-decoration: inherit; color:#000;}
section tr:nth-child(even) {background-color: #f2f2f2; }
section tr:hover {background-color: #3385ff}
section th {background-color: #3366ff; color: #fff; text-decoration: none;}
section th a { text-decoration: inherit; color: #fff;}
section form {width: 400px;	height: auto; margin: 0 auto;}
section label {display: inline-block; min-width: 100px; text-align: left; margin: 0 10px 5px 0;}
section input {display: inline-block; min-width: 200px; float: right; border: 1px solid #3366ff; border-radius: 2px; background-color: #EAEAEA;font-weight: bold}
section input:focus {outline: none; background-color: #FFF;}
section select {display: inline-block; min-width: 200px; float:right; border: 1px solid #3366ff; border-radius: 2px; background-color: #EAEAEA; font-weight: bold}
section textarea {display: block; width: 100%; min-height: 300px; border: 1px solid #3366ff; border-radius: 2px; background-color: #EAEAEA;font-weight: bold; margin-bottom: 10;}
section button {display: inline-block; width: auto; float: right; height: auto; margin-top: 10;}
legend {max-width: 100%; text-align: center; font-size: 14px;}
p {margin: 0px; padding:0px; text-align: right;}
article {width: 700px; height: 100px; border: 1px dashed black; padding:0px; margin: 0 auto;}

.dropbtn {
    background-color: #EAEAEA;
    color: blue;
    height: 100%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-right: 30px;
    padding-left: 30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EAEAEA;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #EAEAEA}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #C6C6C6;
}